    <footer>
        <div class="footer_container">
            <a href="">Mentions Légales</a>
            <a href="">Politique de confidentialité</a>
            <a href="">Préférences en matière de cookies</a>
            <a href="">Public ciblé</a>
            <a href="">Recrutement</a>
        </div>
    </footer>